.page {
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 30px;
}

@media screen and (max-width: 400px) {
  .page {
    padding: 0;
  }
}
