.popup__button-save_disable {
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: 0.2;
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  color: #000;
  pointer-events: none;
}
