.profile__text {
  margin: 62px 0 0 30px;
  position: relative;
  max-width: 293px;
}

@media screen and (max-width: 730px) {
  .profile__text {
    margin: 26px auto 36px;
  }
}

@media screen and (max-width: 400px) {
  .profile__text {
    max-width: 189px;
  }
}

