.photo-grid__like {
  background-image: url(./../../../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-self: center;
  width: 22px;
  height: 19px;
  cursor: pointer;
  margin-right: 4px;
  transition: opacity .2s linear;
  position: absolute;
  right: 0;
  top: 0;
}

.photo-grid__like:hover {
  opacity: .7;
}

